@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<link href="~/Content/adm/css/Categoria.css" rel="stylesheet" />
<script src="~/Content/assets/plugins/jquery.min.js"></script>


<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget ">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Cadastro de Categorias - Subcategorias</h3>
                        </div>
                        <div class="widget-content">

                            <div style="text-align:center;">
                                <form action="/Categoria/AdicionaCategoria" id="formCategoria" method="post">
                                    <div>
                                        <label id="textNome" for="nome">Categoria</label>
                                        <input id="nomeCategoria" name="nome" placeholder="Insira o nome da categoria" autofocus value="@ViewBag.Categoria.Nome"
                                               class="form-control" maxlength="20" />

                                        <div class="form-row">

                                            <input type="submit" id="botaoCat" class="btn btn-danger btn-block botao" value="Adicionar Categoria" onclick="validaNomeBanco(); "/>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div style="float:right;"><a href="/Categoria/Index">Voltar</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   $(document).ready(function () {

        botao = document.querySelector("#botaoCat");
        botao.addEventListener("click", function (event) {
            event.preventDefault();
            validaCategoria();
            $("#nomeCategoria").val("");
        });
    });


    function validaNomeBanco() {
        var url = "@Url.Action("VerificaCategoriaNoBanco", "Categoria")";
        var params = { nome: $("#nomeCategoria").val() };
        $.post(url, params, verificaBanco);
    }

    function verificaBanco(resposta) {
        if (resposta.existe) {
            $.notify("Categoria já existe!", "error", { position: "right bottom"});
        }
    }

    function validaCategoria() {
        var url = "@Url.Action("AdicionaCategoria", "Categoria")";
        var params = { nome: $("#nomeCategoria").val() };
        $.post(url, params, verifica);
    }

    function verifica(resposta) {
        if (resposta.dadosInvalidos == true) {
            $("#nomeCategoria").notify("Dados Inválidos!", "error");
        } else {
            $.notify("Categoria cadastrada com sucesso!", "success", { position: "top center" })
        }
    }
</script>