@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<link href="~/Content/adm/css/Categoria.css" rel="stylesheet" />

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget ">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Cadastro de Categorias - Subcategorias</h3>
                        </div>
                        <div class="widget-content">

                            <div id="esquerda">
                                <form action="/Categoria/AdicionaCategoria" id="formCategoria" method="post">
                                    <div>
                                        <label id="textNome" for="nome">Categoria</label>
                                        <input id="nomeCategoria" name="nome" placeholder="Insira o nome da categoria" autofocus value="@ViewBag.Categoria.Nome"
                                               class="form-control" maxlength="20" />

                                        <div class="form-row">

                                            <input type="submit" class="btn btn-danger btn-block botao" value="Adicionar Categoria" />
                                        </div>
                                    </div>
                                </form>
                            </div>



                            <div id="direita">
                                <form action="/Categoria/AdicionaSubcategoria" id="formSubategoria" method="post">
                                    <div>
                                        <label>Selecione para adicionar sua Subcategoria</label>
                                        <select name="cat">
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.Id">@categoria.Nome</option>
                                            }
                                        </select>

                                        <label id="textNome" for="nome">Subcategoria</label>
                                        <input id="nomeSubcategoria" name="nome" placeholder="Insira o nome da Subcategoria" autofocus value="@ViewBag.Subcategoria.Nome"
                                               class="form-control" maxlength="20" />

                                        <div class="form-row">

                                            <input type="submit" class="btn btn-danger btn-block botao" value="Adicionar Subcategoria" />
                                        </div>
                                    </div>


                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
