.titulo-pagina {
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}

.texto {
    width: 720px;
    margin: auto;
    padding: 30px 0;
    padding-bottom: 80px;
}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    text-align: center;
}

main p a {
    text-decoration: none;
    font-family: "Open Sans Condensed";
    color: #54aee8;
    text-decoration: underline#54aee8;
}

.tags {
    margin: 16px;
    background-color: #851944;
    position: relative;
    bottom: 20px;
    padding: 0;
}

.links {
    color: white;
}

p {
    text-align: justify;
    margin: 30px 0;
}

main h1 {
    padding: 25px;
}


blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 198px;
    margin: 20px 40px;
    box-sizing: border-box;
    border-bottom-color: #333;
    border-right-color: #FFF;
}

.citacao-fiat {
    float: right;
}

.citacao-petrobras {
    float: left;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
    text-decoration: none;
}

blockquote,
aside,
footer {
    padding: 20px;
}

.barra-navegacao,
img {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    float: right;
    width: 15%;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.barra-navegacao {
    clear: right;
    width: 15%;
    top: 310px;
    position: relative;
    padding: 20px;
}

.nome-barra {
    font-size: 25px;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.nome-links a {
    text-decoration: none;
}

.portfolio li {
    display: inline-block;
    border: 8px solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.portfolio img {
    width: 100%;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: #851944;
}

main {
    text-align: center;
    float: left;
    width: 85%;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

main div {
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

h2 {
    font-size: 30px;
    clear: both;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
    margin-top: 10px;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

.social-rodape {
    margin: 10px;
}

.rodape {
    padding: 0;
    clear: left;
    background-color: #000;
    color: #F2FFFC;
    position: fixed;
    width: 100%;
    bottom: 0;
}
