@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN SLIDER -->

<div class="page-slider margin-bottom-35">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-four active">
                <div class="container">
                    <div class="carousel-position-four text-left">
                        <h2 class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase" data-animation="animated fadeInDown">
                            UM PETSHOP <br /><span class="color-red-v2">CRIADO PARA VOCÊ</span><br />
                        </h2>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInUp">
                        </p>
                    </div>
                </div>
            </div>


            <!-- Third slide -->
            <div class="item carousel-item-six">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <span style="color:black" class="carousel-subtitle-v4 margin-bottom-15 color-red-v2" data-animation="animated fadeInDown">
                            Milhares de Produtos
                        </span>
                        <p style="color:black" class="carousel-title-v4 color-red-v2" data-animation="animated fadeInDown">
                            VallePet
                        </p>
                        <p style="color:black" class="carousel-subtitle-v4 color-red-v2" data-animation="animated fadeInDown">
                            Está preparado para seu pet!
                        </p>
                    </div>
                </div>
            </div>


            <!-- Controls -->
            <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<!-- END SLIDER -->
