
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<script src="https://raw.githubusercontent.com/plentz/jquery-maskmoney/master/dist/jquery.maskMoney.min.js"></script>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div>
                <div>
                    <div class="widget ">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Cadastro de Produtos</h3>
                        </div>




                        <div class="widget-content">
                            <div style="text-align: center;">

                                @using (Html.BeginForm("Adiciona", "Produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    <div id="catsub">
                                        <div>
                                            <div class="form-control inlineBlock" id="categoriaSelect">
                                                <label>Escolha a Categoria</label>
                                                <select required name="cat" onchange="populaSubs()">
                                                    <option value="">Selecione...</option>
                                                    @foreach (var categoria in ViewBag.Categorias)
                                                    {
                                                        <option id="catId" value="@categoria.Id">@categoria.Nome</option>
                                                    }
                                                </select>

                                            </div>

                                            <div class="form-control inlineBlock" id="subSelect">
                                                <label>Escolha a Subcategoria</label>
                                                <select id="selectSubs" name="sub">
                                                    <option value="">Selecione...</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="lineblock">
                                        <label id="textNome" for="nome">Nome</label>
                                        <input type="text" id="nomeProduto" name="Estoque.Produto.Nome" placeholder="Insira o nome do Produto" value="" class="form-control" maxlength="20" />

                                    </div>
                                    <div class="lineblock">
                                        <label id="textNome" for="quantidade">Quantidade</label>
                                        <input type="number" id="quantidade" name="quantidade" placeholder="Insira a quantidade" value="" class="form-control" min="0" />
                                    </div>


                                    <div class="lineblock">
                                        <label id="textNome" for="valorUni">Valor Unitário</label>
                                        <input type="text" id="valorUni" name="Estoque.Produto.ValorUnitario" placeholder="Insira o valor unitário" value=" " class="form-control dinheiro" maxlength="20" />
                                    </div>

                                    <div class="lineblock">
                                        <label id="textNome" for="valorCusto">Valor Custo</label>
                                        <input type="text" id="valorCusto" name="Estoque.Produto.ValorCusto" placeholder="Insira o valor custo" value=" " class="form-control dinheiro" onkeyup="valorVenda();" maxlength="20" />
                                    </div>
                                    <br />
                                    <br />
                                    <div>
                                        <div class="inlineblockdois">
                                            <label id="textNome" for="margemLucro">Margem mínima de lucro</label>
                                            <input type="text" id="margemLucro" name="Estoque.Produto.MargemLucro" placeholder="Insira a margem de lucro" value=" " class="form-control dinheiro" maxlength="20" onkeyup="valorVenda();" />

                                        </div>

                                        <div class="inlineblockdois">
                                            <label>Situação</label>
                                            <select id="selectSituacao" name="Estoque.Produto.Ativo">
                                                <option value="">Selecione...</option>
                                                <option value="True">Ativo</option>
                                                <option value="False">Inativo</option>
                                            </select>

                                        </div>


                                        <div class="inlineblockdois">
                                            <label>Escolha a imagem do seu produto</label>
                                            <span class="btn btn-default btn-file">
                                                Procurar <input type="file" name="upload">
                                            </span>
                                        </div>
                                    </div>

                                    <br />
                                    <label>Insira a descrição do produto</label>
                                    <textarea name="Estoque.Produto.Descricao" style="width:900px; height:100px; resize:none;"></textarea>

                                    <br />
                                    <div class="form-row">
                                        <input type="submit" class="btn btn-danger btn-block botao" value="Adicionar Produto" />
                                    </div>


                                }

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function populaSubs() {
        $("#selectSubs option").remove();
        console.log($("select option:selected").val());
        var selecionado = $("select option:selected").val();

        $.ajax({
            type: "GET",
            url: "/Produto/PopulaSubcategorias/" + selecionado,
            success: function (data) {
                var lista = data.lista;
                var select = $("#selectSubs");

                $(lista).each(function (i) {
                    console.log(i);
                    var itemLista = $("<option>").text(lista[i].Nome).val(lista[i].Id);
                    select.append(itemLista);
                });
            }

        });
    }


    function valorVenda() {
        var m = $("#margemLucro").val();
        var v = $("#valorCusto").val();
        var valor = parseFloat(v);
        var margem = parseFloat(m);

        var valorVenda = $("#valorUni");

        var total = valor;
        var conta = margem * valor;
        var valorDeVenda = total + conta;

        valorVenda.val(valorDeVenda);
    }

    //$(document).ready(function () {

    //    botao = document.querySelector(".botao");

    //    botao.addEventListener("click", function (event) {

    //        if ($("#").val() == "") {

    //        };

    //    });

    //});


</script>
