
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Produto/Adiciona">
            <label for="nome">Nome:</label>
            <input for="nome" name="nome" />

            <label for="preco">Preço:</label>
            <input form="preco" name="preco" />

            <label for="preco">Quantidade:</label>
            <input form="quantidade" name="quantidade" />

            <label for="descricao">Descrição:</label>
            <input form="descricao" name="descricao" />

            <label for="categoria">Categoria:</label>
            <input form="categoria" name="categoria" />

            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
