@model IList<CaelumEstoque.Models.Produto>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@Html.RouteLink(produto.Nome, "VisualizaProduto", new { id = produto.Id })</td>
                <td>@produto.Quantidade</td>
                <td>
                    <a href="/Produto/DecrementaQtd/@produto.Id">Decrementar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
